{
    "AuthenticationMethod": "MSI",
    "DestinationOU": "OU=AAD Group writeback,DC=contoso,DC=com",
    "ADGroupObjectIDAttribute": "info",
    "AADGroupScopingMethod": "Filter",
    "AADGroupScopingConfig": "isAssignableToRole eq true",
    "GroupDeprovisioningMethod": "ConvertToDistributionGroup"
}