{
    "AuthenticationMethod": "ClientCertificate",
    "Thumbprint": "87bc1be26ed9fcc3921e25c2abf27cc2626b9cff"
    "DestinationOU": "OU=AAD Group writeback,DC=contoso,DC=com",
    "ADGroupObjectIDAttribute": "info",
    "AADGroupScopingMethod": "GroupMemberOfGroup",
    "AADGroupScopingConfig": "5f7ab793-e722-435a-a8bf-ac48a3f7361e",
    "GroupDeprovisioningMethod": "Delete",
    "Environment": "AzureCloud"
}